
# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# ---- Virtual Environment ----
venv/
.env/
.venv/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Logs & Caches ----
*.log
*.pot
*.py[co]
*.swp
.DS_Store
Thumbs.db

# ---- Streamlit ----
.streamlit/secrets.toml

# ---- IDE & Editor Files ----
.vscode/
.idea/
*.code-workspace

# ---- Build & Packaging ----
build/
dist/
*.egg-info/
